@model Meeting
<form action="Create" method="Post">

    <div class="mb-3">
        <label class="form-label" asp-for="Name">Toplantı Adı</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Description">Açıklama</label>
        <input class="form-control" asp-for="Description">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Location">Konum</label>
        <input class="form-control" asp-for="Location">
        <span class="text-danger" asp-validation-for="Location"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Time">Time</label>
        <input class="form-control" asp-for="Time">
        <span class="text-danger" asp-validation-for="Time"></span>
    </div>
<div class="d-grid gap-2">
  <button type="submit" class="btn btn-primary">Create Meeting</button>
</div>

</form>