@model User
<form asp-action="Join" method="Post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">Ad</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Surname">Soyad</label>
        <input class="form-control" asp-for="Surname">
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Phone">Telefon</label>
        <input class="form-control" asp-for="Phone">
        <span class="text-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Age">Yaş</label>
        <input class="form-control" asp-for="Age">
        <span class="text-danger" asp-validation-for="Age"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="IsOkey">Durum</label>
        <select class="form-select" asp-for="IsOkey">
          <option class="selected disabled">Seçiniz</option>
        <option value="true">Evet, geliyorum.</option>
        <option value="false">Hayır, gelmiyorum.</option>
        </select>
        <span class="text-danger" asp-validation-for="IsOkey"></span>
    </div>
<div class="d-grid gap-2">
  <button type="submit" class="btn btn-primary">Kaydet</button>
</div>

</form>